body{
    margin: 0;
    background-color: #5e5e5e;
    color: #dddbdb;
}

.textButton{
    all: unset;
    cursor: pointer;
    padding: 10px;
}

.textButton:hover{
    background-color: rgba(184, 184, 184, 0.349);
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}

.top h1{
    margin: 0;
    padding-left: 10px;
}

.top button{
    margin-left: 10px;
}

